* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: inherit;
  height: inherit;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;

}

.snake {
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  background: darkred;
  border-radius: 4px;
  z-index: 99;
  overflow: hidden;
}

#gameborad {
  min-height: 0;
  min-width: 0;
  max-width: 70%;
  min-height: 80%;
  width: 50%;
  height: 70%;
  background: greenyellow;
  border: 2px solid violet;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.food {
  width: 20px;
  height: 20px;
  background-color: navajowhite;
  background-image: url("./utils/food.svg");
}

.contorler {
  min-width: 0;
  min-height: 0;
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}

.start {
  width: 40%;
  height: 20%;
  border: 1px red solid;
  border-radius: 6px;
}

.normal {
  width: 40%;
  height: 20%;
  border: 1px red solid;
  border-radius: 6px;
}

.medium {
  width: 40%;
  height: 20%;
  border: 1px red solid;
  border-radius: 6px;
}

.hard {
  width: 40%;
  height: 20%;
  border: 1px red solid;
  border-radius: 6px;
}

.gameover {
  font-size: 40px;

}
