@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --bg-primary: #185E20;
  --bg-sec: #4CAF50;
  --bg-tentiar: #F1F8E9;
  --bg-neutal: #2D3436;
  --bg-main:#f4fafd;
}

.font-Inter {
  font-family: var(--font-inter);
}

.bg-primary {
    color: var(--bg-primary);
  background-color: var(--bg-primary);}

.bg-sec {
     color: var(--bg-sec);
  background-color: var(--bg-sec);
}

.bg-t { color: var(--bg-tentiar);
  background-color: var(--bg-tentiar);
}

.bg-neutral {
  background-color: var(--bg-neutal);
}

.font-Mon {
  font-family: var(--font-montserrat);
}

.bg-main {
  background-color: var(--bg-main);
}